<h1>Travel Bucket List!</h1>

<p>Choose from countries or cities!</p>

<a href="/countries" class="button">
  <span>Countries</span>
</a>

<a href="/cities" class="button">
  <span>Cities</span>
</a>
