<!DOCTYPE html>
<html>
<head>
  <title>Travel Bucket List</title>
</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <h4><a href="/">Home</a></h4>
      </li>
      <li>
        <h4><a href="/countries">Countries</a></h4>
      </li>
      <li>
        <h4><a href="/cities">Cities</a></h4>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
