<h1 class="warning">Warning</h1>
<h2>This will delete all cities, are you sure you wish to proceed?</h2>

<form method="POST" action="/cities/delete-all"><button class="button red" type="submit"><span>Delete All Cities</span></button></form>
