<h1>Cities</h1>

<ul>
  <% for city in @cities %>
  <a href="/cities/<%=city.id%>"><h3> <%= city.name %> </h3></a>
  <% end %>
</ul>

<form action="/cities/new"><button class="button" type="submit"><span>Add a City</span></button></form>

<form action="/cities/status/visited"><button class="button" type="submit"><span>View City Visits</span></button></form>

<form method="GET" action="/cities/delete-all-warning"><button class="button" type="submit"><span>Delete All Cities</span></button></form>
