<form action="/cities" method="post">

  <label for="city_name">Type in the name of the new city:</label>
  <input type="text" name="name" id="city_name"/>

  <br>

  <label for="visit_status">Have you visited this city?</label>
  <select name="visit_status" id="visit-status">
    <option disabled selected value> -- select an option -- </option>
    <% @status.each do |status| %>
    <option value="<%= status %>"><%= status %></option>
    <% end %>
  </select>

  <br>

  <label for="country_id">What country is this city in?</label>
  <select name="country_id" id="country-id">
    <option disabled selected value> -- select an option -- </option>
    <% @countries.each do |country| %>
    <option value=<%= country.id %>><%= country.name %></option>
    <% end %>
  </select>

  <button class="button" type="submit"><span>Add City</span></button>
</form>
