<h3><%= @city.name %></h3>
<h5>Country: <%= @city.country.name %></h5>
<h5><%= @city.visit_status %></h5>

<form action="/cities/<%=@city.id%>/edit"><button class="button" type="submit"><span>Change Details or Delete</span></button></form>
