<h1><%= @city_title %></h1>

<% @city_status.each do |city| %>
<br>
<%= city.name %>
<% end %>

<form action="/cities/status/visited"><button class="button green" type="submit"><span>Visited Cities</span></button></form>

<form action="/cities/status/not-visited"><button class="button green" type="submit"><span>Cities not visited</span></button></form>

<form action="/cities/status/want-to-visit"><button class="button green" type="submit"><span>Cities To Visit</span></button></form>
