<h1 class="warning">Warning</h1> <h2>This will delete all countries, are you sure you wish to proceed?</h2>

<form method="POST" action="/countries/delete-all"><button class="button red" type="submit"><span>Delete All Countries</span></button></form>
