<h1>Warning: This will delete all countries, are you sure you wish to proceed?</h1>

<form method="POST" action="/countries/delete-all"><button class="button" type="submit"><span>Delete All Countries</span></button></form>
