<h2>Edit <%= @country.name %></h2>
<form method="POST" action="/countries/<%= @country.id %>">
      <label for="name">Country Name:</label>
      <input type="text" name="name" id="country_name" value="<%= @country.name %>"/>
      <input type="submit" value="Confirm Edit"/>
      <input type="submit" value="Delete">
</form>
