<h1>Countries</h1>

<ul>
  <% @countries.each do |country| %>
  <a href="/countries/<%=country.id%>"<li><h3> <%= country.name %> </h3></li>
<% end %>
</ul>

<form action="/countries/new"><input type="submit" value="Add a Country"></form>

<form action="/countries/delete-all-warning" method="GET"><input type="submit" value="Delete All Countries"></form>
