<h1>Countries</h1>

<ul>
  <% @countries.each do |country| %>
  <li><a href="/countries/<%=country.id%>">
  <%= country.name %>
  </a></li>
<% end %>
</ul>

<form action="/countries/new"><button class="button" type="submit"><span>Add a Country</span></button></form>

<form action="/countries/delete-all-warning" method="GET"><button class="button red" type="submit"><span>Delete All Countries</span></button></form>
