<h1>Countries</h1>

<ul>
  <% @countries.each do |country| %>
  <a href="/countries/<%=country.id%>"<h3> <%= country.name %> </h3></a>
</ul>

<p> Country id: <%= country.id %> '<%= country.name %>'</p>
<% end %>

<h4><a href="/countries/new">Add a Country</a></h4>
