<h1>All dem countries</h1>

<form action="/cities" method="post">
  <label>
  Select a city:
    <select name="city_id">
      <% for city in @cities %>
      <option value="<%= city.id %>"><%= city.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a country:
    <select name="country_id">
      <% for country in @countries %>
      <option value="<%= country.id %>"><%= country.name %></option>
      <% end %>
    </select>
  </label>

  <input class="btn btn--action" type='submit' value="SOMETHING!">
</form>
