<form action="/countries" method="post">

  <label for="country_name">Type in the name of the new country:</label>
  <input type="text" name="name" id="country_name" placeholder="Type here"/>
  <button class="button" type="submit"><span>Add Country</span></button>
</form>
