<form action="/countries" method="post">

  <label for="country_name">Type in the name of the new country:</label>
  <input type="text" name="name" id="country_name"/>
  <input type="submit" value="Add Country"/>
</form>
